<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
	<link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>

<body>
	<div class="header">Submission Successful!</div>
	<br>
	<%- p1 %>'s <%- move %> will KO a <%- p2 %> from full health. <%- p1 %> will be the next pokemon to beat.<br><br>
	<%- text %> 
	<hr>
	<a href="/">Back to home</a>
</body>

</html>